<div class="form_post">

<%= form_with model: @comment, url: create_user_post_comment_url, method: :post, local: true, scope: :comment do |form| %>
<%= form.text_area :text, class: "comment_text", placeholder: "Type your comment here..." %>
<%= form.submit "Create", class: "form_btn" %>
<% end %>
</div>
