<nav>
  <% if user_signed_in? %>
    <%= current_user.name %> | 
    <%= link_to 'Sign out', destroy_user_session_path, data: {
      turbo_method: :delete,
      turbo_confirm: "¿Are you sure you want to log out?"
    } %>
  <% elsif %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</nav>